<div class='row'>
  <div class= col-lg-4>
    <input></input>
    <div class='guess'>Guess</div>
    <img src="http://i1274.photobucket.com/albums/y427/verygud/groot_zps12001999.jpg" width='150px' height'200px' />
  </div>

  <div class='col-lg-4'>
    <input></input>
    <div class='guess'>Guess</div>
    <img src="http://i1274.photobucket.com/albums/y427/verygud/image_zps4baab68d.jpg" width='150px' height'200px' />
  </div>
</div>
